@using TailorApp.Domain.Entities
@model TailorManagementApp.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h5 class="m-b-10"><i class="ti-tag"></i>Create A New Order</h5>
                <hr />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <div id="placeHolder"></div>
                <label>Delivery Date :</label>
                <div class="form-horizontal">
                    <input type="date" id="date" class="form-control" />
                    <span class="error text-danger"></span>
                </div>
                <hr />

                <label>Customer :</label>
                <div class="form-horizontal">
                    @Html.DropDownList("customers", ViewBag.CustomerID, "-- Select Customer -- ", new { @class = "customers form-control" })
                    <span class="error text-danger"></span>

                    <a class="btn btn-success" style="margin-bottom:12px;float:right;" data-toggle="ajax-modal" id="customerButton" data-target="#customerModal" data-url="/Customers/CreateModal">
                        <i class="ti-plus"></i>Create A New Customer
                    </a>

                </div>
                <div class="dt-responsive table-responsive">
                    <table class="table table-striped table-bordered nowrap" id="tblItems">
                        <tr>
                            <th>
                                Categories
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Paid
                            </th>

                            <th>
                                Total Price
                            </th>
                            <th></th>
                        </tr>
                        <tr id="MainRow" class="form-horizontal">

                            <td>

                                @Html.DropDownList("productsItems", ViewBag.CategoryID, " <--Select--> ", new { @class = "form-control productsItems", @id = "productsItems" })
                                <span class="error text-danger"></span>


                            </td>

                            <td>
                                <input type="text" id="price" class="price form-control" placeholder="Price" onchange="changeTotal()" />
                                <span class="error text-danger"></span>
                            </td>
                            <td>
                                <input type="text" id="quantity" class="quantity form-control" placeholder="Quantity" onchange="changeTotal()" />
                                <span class="error text-danger"></span>
                            </td>
                            <td>
                                <input type="text" id="paid" class="paid form-control" placeholder="Paid" />
                                <span class="error text-danger"></span>
                            </td>

                            <td>
                                <input type="text" id="total" class="total form-control" disabled="disabled" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" style="margin-bottom:12px;float:right;" id="add"><i class="ti-plus"></i></button>
                            </td>
                        </tr>
                        <tr id="SubRow" class="form-horizontal" style="display: none">
                        </tr>

                    </table>
                </div>
                <br />
                <hr />

                <span style="color:cadetblue"><b><i class="ti-tag"></i></b><b> list of Orders</b></span>
                <div class="dt-responsive table-responsive">
                    <table class="table table-striped table-bordered nowrap" id="OrderItems"></table>
                    <button type="button" class="btn btn-success" style="margin-bottom:12px;float:right;" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/order.js"></script>
    <script type="text/javascript" src="~/js/Popup.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblItems').DataTable({
                "paging": false,
                "ordering": false,
                "info": false
            });
        });

        function PreviewImg(input) {
            var File = input.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }
        }
        function changeTotal() {
            var x = document.getElementById("quantity").value;
            var y = document.getElementById("price").value;
            if (x != null || y != null) {
                var total = parseInt(x) * parseFloat(y);
                $("#total").val(total);
                //document.getElementById("total").innerHTML = total;
            }
            else {
                document.getElementById("total").innerHTML = null;
            }
        }


    </script>

}
