@model TailorManagementApp.Models.Staff
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 ">
                            <a href="#" class="profile-image">
                                <img class="user-img img-radius" height="100" width="100" src="@Model.ImagePath" alt="user-img" asp-append-version="true">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>@Model.Name</h2>
                            <h5 class="m-b-10"><i class="ti-tag"></i>Update Information About the Staff</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <form class="form-horizontal" asp-action="Edit" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-8">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StaffID" />
                            <input type="hidden" asp-for="ImagePath" />

                            <div class="form-group row">
                                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Name" type="text" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Phone" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Phone" type="text" class="form-control">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Address" type="text" class="form-control">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="NID" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="NID" type="text" class="form-control">
                                    <span asp-validation-for="NID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Upload File</label>
                                <div class="col-sm-9">
                                    <input asp-for="ImageUpload" id="imageBrowes">
                                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                                    <hr />
                                </div>
                            </div>
                            <div class="form-group row" style="float:right">
                                <div class="col-sm-12">
                                    <input type="submit" value="save" class="btn btn-success" />
                                    <a href="/Staffs/Index/" class="btn btn-info">Back To List</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="imgPreview" class="gallery" style="display:none; ">
                                <img class="img-responsive" id="targetImg" width="300" height="300" />
                                <div class="caption">
                                    <a href="#" onclick="ClearPreview()"><i class="ti-trash"></i></a>
                                    <span id="description"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>